.page-title {
  background-color: var(--second-color);
  color: var(--thrid-color);
  width: 32%;
  padding: 10px;
  text-align: center;
  border-radius: 12px;
  font-weight: bold;
}


@media (max-width: 1563px) {
  .page-title {
    width: 50%;
  }
}

@media (max-width: 992px) {
  .page-title {
    width: 80%;
  }
}

form .rowright {
  margin-top: 3px !important;
}

form .form-section {
  margin-bottom: 15px;
}

form .certificate {
  border: 2px solid var(--second-color);
  padding: 4px 10px;
  background: var(--thrid-color);
  border-radius: 12px;
  margin-top: 55px;
}


@media (max-width: 992px) {
form .certificate {
  margin-top: 30px;
}
}

form .form-section .form-label {
  font-size: 22px;
  font-weight: bold;
  color: var(--second-color);
}

form .form-section .form-control,
form .form-section .form-select {
  background: var(--thrid-color);
  border: 2px solid var(--second-color);
  padding: 12px 10px;
  border-radius: 12px;
}

form .form-section .form-control:focus,
form .form-section .form-select:focus {
  border-color: var(--second-color);
  box-shadow: none;
  outline: none;
}

form .form-section .form-control::placeholder {
  color: rgba(109, 105, 105, 1);
  font-family: var(--font-arabic) !important;
  font-weight: 700;
  font-size: 15px;
  line-height: 100%;
}

